<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll-Activated Divs</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .box {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: white;
        }
        .box1 { background: crimson; }
        .box2 { background: teal; }
        .box3 { background: purple; }
    </style>
</head>
<body>
    <div class="box box1" id="div1">Div 1</div>
    <div class="box box2" id="div2">Div 2</div>
    <div class="box box3" id="div3">Div 3</div>

    <script>
        // JavaScript will go here
    </script>
</body>
</html>
