<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footerMainContainer">
    <div class="footerMessageSection">
        <div class="msgSessection1In">
            <div>
                <img width="55px" src="https://medicate.peacefulqode.co.in/wp-content/uploads/2022/02/Subscribe1-1.png"
                    alt="">
            </div>
            <div>
                <h5 class="textOFFooterMessage">Latest Updates Subscribe To Our Newsletter</h5>
            </div>
        </div>
        <div class="formSessectionIn2">
            <form action="" class="insideForm">
                <div><input type="text" placeholder="Enter Your Email"></div>
                <div><button type="submit"> Submit</button></div>
            </form>
        </div>
    </div>
    <div class="footerContainer">
        <div class="singleFooterContainer">
            <h3>medicate</h3>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero.</p>
            </div>
            <div>
                <span>face</span>
                <span>google</span>
                <span>insta</span>
                <span>p</span>
            </div>
        </div>
        <div class="singleFooterContainer">
            <h3>Our Course</h3>
            <div class="ourCourse">
                <div>
                    <p>about us</p>
                    <p>our service</p>
                    <p>about us</p>
                    <p>our service</p>
                </div>
                <div>
                    <p>about us</p>
                    <p>our service</p>
                    <p>about us</p>
                    <p>our service</p>
                </div>
            </div>
        </div>
        <div class="singleFooterContainer">
            <h3>Resent Post</h3>
            <div>
                <div class="resentPost">
                    <div>
                        <img width="40px"
                            src="https://medicate.peacefulqode.co.in/wp-content/uploads/2021/12/1-467x352.jpg" alt="">
                    </div>
                    <div>
                        <span>december 12,2001</span>
                        <br>
                        <span><strong>Lorem ipsum dolor sit, amet consectetur adipisicing.</strong></span>
                    </div>
                </div>
                <hr>
                <div class="resentPost">
                    <div>
                        <img width="40px"
                            src="https://medicate.peacefulqode.co.in/wp-content/uploads/2021/12/1-467x352.jpg" alt="">
                    </div>
                    <div>
                        <span>december 12,2001</span>
                        <br>
                        <span><strong>Lorem ipsum dolor sit, amet consectetur adipisicing.</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="singleFooterContainer">
            <h3>Contact</h3>
            <div>
                <div><span><i class="fa fa-phone "></i></span><a class="aTag" href="#">+125462156</a></div>
                <div><span  class="iconfooter"><i class="fa fa-envelope "></i></span><a class="aTag" href="#">vinay@gmail.com</a>
                </div>
                <div><span><i class="fa fa-map-marker "></i></span>sikhera</div>
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <p style="text-align: center;padding-bottom: 15px;">Copyright 2023 medicate All Rights Reserved</p>
</div>