<body>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <div class="upperNavbar">
            <div class="leftUpperNavbar">
                <div>
                    <label for="">

                        <a class="navbarAnckerTag" href="#">+1800-001-658</a>
                    </label>
                </div>
                <div>
                    <label for="#">
                        <a class="navbarAnckerTag" href="#">info@peaceulthemes.com</a>
                    </label>
                </div>
            </div>
            <div class="rightUpperNavbar">
                <div><i class="fa fa-facebook-f"></i></div>
                <div><i class="fa fa-google"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div>p</div>
            </div>
        </div>
        <div class="nichaNavbar">
            <div class="logo"><img width="100%"
                    src="https://medicate.peacefulqode.co.in/wp-content/themes/medicate/assets/img/logo.png" alt="">
            </div>
            <div class="secondNavbarClick">
                <div class="dropdown">Home <span><i class="fa fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#home1">Home 1</a>
                        <a href="#home2">Home 2</a>
                    </div>
                </div>
                <div class="dropdown">pages <span><i class="fa fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#about">About Us</a>
                        <a href="#team">Team</a>
                    </div>
                </div>
                <div class="dropdown">services <span> <i class="fa fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#web">Web Development</a>
                        <a href="#marketing">Marketing</a>
                    </div>
                </div>
                <div class="dropdown">projects <span> <i class="fa fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#project1">Project 1</a>
                        <a href="#project2">Project 2</a>
                    </div>
                </div>
                <div class="dropdown">
                    blog <span> <i class="fa fa-angle-down"></i></span>
                    <div class="dropdown-content">
                        <a href="#blog1">Blog Post 1</a>
                        <a href="#blog2">Blog Post 2</a>
                    </div>
                </div>
                <div>contact us</div>
                <div><i class="fa fa-search"></i></div>
                <div><i class="fa fa-shopping-cart"></i>
                    <!-- <span class="incOfShopingCart">2</span> -->
                </div>
                <div><button class="btnOFNavBar">Appointments +</button></div>
            </div>
        </div>
        <div><button class="menuBtn">menu</button></div>
        <script src="js/navbar.js"></script>
    </div>